<p>
  <strong>Priority:</strong>
  <%= @wishlist.priority %>
</p>

<p>
  <strong>Name:</strong>
  <%= @wishlist.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@wishlist.picture_url, width: 600) if @wishlist.picture.present? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wishlist.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @wishlist.price %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist), class: 'links' %> |
<%= link_to 'Back', wishlists_path, class: 'links' %>
