<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <li>
      <a href="/home/index">Home</a>
    </li>
    <li>
      <a href="/wishlists">Wishlist</a>
    </li>
  </ul>
  <div>
    <%= yield %>
  </div>
  </body>
</html>
